{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as current_lang %}
<html lang="{{ current_lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# подключаем скомпилированную CSS #}
  <link href="{% static 'css/globals.css' %}" rel="stylesheet">
  <title>{% block title %}Моё приложение{% endblock %}</title>
</head>
<body class="flex flex-col min-h-screen">
  {% block content %}{% endblock %}
  {# если вам нужен JS #}
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
